<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Táo Ngọt</title>

    <link rel="stylesheet" href="style.css">
</head>

body{
    background:#08131f;
    color:white;
    font-family:Georgia, serif;
    text-align:center;
}

h1{
    color:#8dc8ff;
}

button{
    padding:12px 25px;
    border-radius:10px;
}
